@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
    background: black url(imagens/fundo-madeira.jpg) center center no-repeat fixed ;
    background-size: cover
}
main {
    position: relative;
    height: 100vh;
    
}
#telefone{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 250px;
    background:  url(../projeto-redes/imagens/frame-iphone.png) center center no-repeat ;
    background-size: cover;
}
.logos{
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.521) 2px 2px 8px;
    box-sizing: border-box;
}
iframe#tela{
    position: relative;
    top: 63px;
    left: 18px;
    width: 211px;
    height: 375px;
}
section#redes{
    position: relative;
    bottom:75%;
    left: 90vw;
    width: 50px;
}
#redes a img:hover{
    border: 2px solid rgba(255, 255, 255, 0.521);
    transform: translate(-5%, -5%);
    box-shadow: black 5px 5px 10px;
    transition: transform 0.3s;
}