@charset "UTF-8";


* {
    body{
        width: 100vw;
    }
}
body{
    margin: 0px;
    padding: 0px;
    background: black url(imagens/fundo-madeira.jpg) center center no-repeat fixed ;
    background-size: cover
}
menu {
    display: none;
    justify-content: center;
    cursor: pointer;
      
}
#lista{ 
    color: white;
    

}
#lista:hover{
    background-color: rgba(255, 255, 255, 0.199);
    color: black;
    transform: translate(-5%, -5%);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
    
}
main {
    position: relative;
    height: 100vh;
    
}
#telefone{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 250px;
    background:  url(../projeto-redes/imagens/frame-iphone.png) center center no-repeat ;
    background-size: cover;
    
}
.logos{
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.521) 2px 2px 8px;
    box-sizing: border-box;
}
iframe#tela{
    position: relative;
    top: 63px;
    left: 18px;
    width: 211px;
    height: 375px;
}
section#redes{
    position: relative;
    bottom:75%;
    left: 90vw;
    width: 50px;
}
#redes a img:hover{
    border: 2px solid #ffffff85;
    transform: translate(-5%, -5%);
    box-shadow: black 5px 5px 10px;
    transition: transform 0.3s;
}
@media screen  and (min-width: 320px) and (max-width: 920px) {
    menu{
        display:flex
    }
    #redes{ 
        display: none;
    }
    .logos{
        position: relative;
        justify-content: initial;
    }
}